:root{
    --miBackground: #f4f2f2;
    --miColor1: #171813;
    --miColor2: #3B3A36;
    --miColor3: #70665A;
    --miColor4: #D5CAC8;
    --miColor5: #C9AD9F;
    --miColor6: #E7CD79;
    --miColor7: #D88C4E;
    --miColor8: #AB654B;
    --miColor9: #75573D;
    --miColor10: #463B27;

    --miPrincipal: var(--miColor8);
    --miSecundario: var(--miColor8);
}

.bg-miPrincipal{
    background: var(--miPrincipal);
}

.btn-miPrincipal{
    background: var(--miPrincipal);
    border-color: var(--miPrincipal);
}

.btn-miPrincipal:hover{
    background: var(--miSecundario);
    border-color: var(--miSecundario);
}

.color-miPrincipal{
    color: var(--miPrincipal);
}

body{
	background: #f4f2f2;
}

.lista {
	display: flex;
	padding: 1em;
	border-radius: 7px;
	border: 1px solid;
	list-style: none;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.lista li {
	width: 22em;
	height: 32em;
	margin: .4em .4em;
	padding: 7px 10px;
	display: flex;
	justify-content: space-evenly;
}

.card:hover {
	transform: scale(1.04);
	box-shadow: .3em .3em .3em #848a88, -.2em -.2em 4em #848a88;
	transition: 400ms;
}

.card-img-top {
	margin: 5%;
	border-radius: 5%;
	width: 90%;
	height: 85%;
}

.card {
	border-radius: 5%;
}

footer {
	display: flex;
	justify-content: space-between;
}