:root{
    --negroDark1:#020305;
    --verdeDark1:#0B2522;
	--verdeDark2:#123F23;
	--verdeDark3:#153528;
	--verdeDark4:#2C574E;
	--verdeDark5:#3F706A;
	--verdeDark6:#605A38;
	--marronDark1:#AA7951;
	--marronDark2:#976B2E;
	--marronDark3:#824A17;
} 

body {
	/*background: #020305;*/
	color: #FFF3F0;
	margin: 0;
	font-family: 'Ubuntu';
	background: linear-gradient(var(--negroDark1), var(--negroDark1), var(--negroDark1), var(--negroDark1), var(--negroDark1), var(--negroDark1), var(--negroDark1), var(--verdeDark1));
	padding-top: 50px;
}

a {
	color: #FFF3F0;
	text-decoration: none;
}
/*
seleccion de tag/etiqueta: etiqueta
seleccion de clase: .clase
seleccion de id: #id
*/


.bg-NavDark{
	background: linear-gradient(#0B2522, #0B2522, #020305);
}
.bg-NavDark img{ 
	width: 30px;
	height: 30px;
}

.header {
	/*border-bottom: 1px solid #3F706A;*/
	padding: .5em .5em 3em 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(#0B2522, #0B2522, #020305);
}

.header img{ 
	width: 40px;
	height: 40px;
	
}

.header h1 {
	margin: 0;
}

.header ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.header li {
	margin: 0 4px;
	padding: 2px 6px;
	border: 1px solid #3F706A;
	border-radius: 7px;
}

.header li:hover {
	box-shadow: 0px 0px 10px 0px #3F706A;
}

.header li:hover a {
	color: #3F706A;
}

.flex {
	display: flex;
	justify-content: space-evenly;
	padding: 2em 0;
}

aside {
	width: 25%;
	text-align: center;
	border-radius: 7px;
	border: 1px solid #3F706A;
}

.home {
	width: 60%;
}

.lista {
	display: flex;
	padding: 1em;
	border-radius: 7px;
	border: 1px solid #3F706A;
	list-style: none;
	flex-wrap: wrap;
	/*overflow-x: scroll;*/
	background: #0B2522;
}

.lista li {
	width: 145px;
	height: 520px;
	margin: .4em .4em;
	padding: 7px 10px;
	border-radius: 7px;
	border: 1px solid #3F706A;
	background: #2C574E;
}

.lista li:hover {
	transform: scale(1.04);
	box-shadow: .5em .5em .5em #0B2522, -.2em -.2em 7em #0B2522;
	transition: 400ms;
}

.lista a {
	color: black;
}

.lista p{
	width: 145px;
	height: 420px;
	text-align: inherit;
	overflow: hidden;
}

.lista img {
	width: 120px;
	height: 100px;
	object-fit: cover;
}

footer {
	padding: .5em 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}